// Nexa Bold
@font-face {
  font-family: 'NexaBold';
  src: url('/assets/nexa_bold-webfont.eot');
  src: url('/assets/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/nexa_bold-webfont.woff') format('woff'),
    url('/assets/nexa_bold-webfont.ttf') format('truetype'),
    url('/assets/nexa_bold-webfont.svg#nexa_boldregular') format('application/font-woff');
  font-weight: normal;
  font-style: normal;
}

// Nexa Light
@font-face {
  font-family: 'NexaLight';
  src: url('/assets/nexa_light-webfont.eot');
  src: url('/assets/nexa_light-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/nexa_light-webfont.woff') format('woff'),
    url('/assets/nexa_light-webfont.ttf') format('truetype'),
    url('/assets/nexa_light-webfont.svg#nexa_lightregular') format('application/font-woff');
  font-weight: normal;
  font-style: normal;
}

// Questrial
@font-face {
  font-family: 'Questrial';
  src: url('/assets/questrial-regular-webfont.eot');
  src: url('/assets/questrial-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/questrial-regular-webfont.woff') format('woff'),
    url('/assets/questrial-regular-webfont.ttf') format('truetype'),
    url('/assets/questrial-regular-webfont.svg#questrialregular') format('application/font-woff');
  font-weight: normal;
  font-style: normal;
}