@import 'compass/css3/transition';

// TEXT STYLES ////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////

body {
  color: $default-text-color;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  vertical-align: middle; 
}

h1, h2, h3, h4, h5, h6, a, div, p {
  -webkit-font-smoothing: subpixel-antialiased;
  @include single-transition(color .35s);
}

h1, h2, h4 {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: subpixel-antialiased;
  @include single-transition(color .35s);
}

h5, h6 {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  @include single-transition(color .35s);
}

h2 {
  color: rgba(255,255,255,0.75);
  font-family: 'Michroma', helvetica, sans-serif;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 10px;
  text-align: center;
}

h3 {
  color: rgba(255,255,255,0.75);
  font-family: 'Michroma', helvetica, sans-serif;
  font-size: 18px;
}

h5 {
  color: rgba(255,255,255,0.75);
  font-size: 16px;
  text-align: center;
}

a {
  color: $default-link-color;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 400;
  text-decoration: none;
  &:hover {color: $default-link-hover-color; text-decoration: underline;}
  &:visited {color: $default-link-visited-color;}
}

span {vertical-align: text-top;}