// FONTS ///////////////////////////////////////////////////////////////////////////////
$nexa-bold:                 "NexaBold", helvetica, arial, sans-serif;
$nexa-light:                "NexaLight", helvetica, arial, sans-serif;
$questrial:                 "Questrial", helvetica, arial, sans-serif;
$lato:                      "Lato", helvetica, arial, sans-serif;


// STYLES //////////////////////////////////////////////////////////////////////////////
// Margins
$margin:                    25px;
$margin-top:                $margin;
$margin-right:              $margin;
$margin-bottom:             $margin;
$margin-left:               $margin;
$margin-small:              12px;
$margin-top-small:          $margin-small;
$margin-right-small:        $margin-small;
$margin-bottom-small:       $margin-small;
$margin-left-small:         $margin-small;
$margin-large:              50px;
$margin-top-large:          $margin-large;
$margin-right-large:        $margin-large;
$margin-bottom-large:       $margin-large;
$margin-left-large:         $margin-large;

// Padding
$padding:                   25px;
$padding-top:               $padding;
$padding-right:             $padding;
$padding-bottom:            $padding;
$padding-left:              $padding;
$padding-small:             12px;
$padding-top-small:         $padding-small;
$padding-right-small:       $padding-small;
$padding-bottom-small:      $padding-small;
$padding-left-small:        $padding-small;
$padding-large:             50px;
$padding-top-large:         $padding-large;
$padding-right-large:       $padding-large;
$padding-bottom-large:      $padding-large;
$padding-left-large:        $padding-large;

// Radius
$radius:                    2px;
$border-radius:             $radius;