<% content_for :page_title, "EDC Las Vegas | The Unofficial Hub for All Things Electric Daisy Carnival" %>
<style>html,body{height:100%;overflow: hidden;}</style>
<div id="background"></div>
<div id="midground"></div>
<div id="foreground"></div>
<div id="home-container">
    <br /><br /><br /><h3>Just added: <a href="/trailer" title="EDC 2013 Official Trailer">EDC 2013 Official Trailer!</a></h3>
    <br /><br /><br /><h2><a href="/tips" title="EDC Las Vegas Tips">EDC Las Vegas Tips &amp; Information</a></h2>
    <br /><br /><br /><p class="soon">We're busy assembling the ultimate EDC Las Vegas resource</p>
</div>