<% content_for :title, "EDC 2013 Official Trailer | EDC Las Vegas" %>
<div id="trailer-container" class="page-container">
    <h2>EDC 2013 Official Trailer</h2>
    <h5>The official trailer for Electric Daisy Carnival 2013 in Las Vegas, NV</h5>
    <div class="video-container">
        <!-- <iframe width="1000" height="563" src="http://www.youtube.com/embed/e-PRse6jsiE" frameborder="0" allowfullscreen allowfullscreen="true"></iframe> -->
        <object class="video">
          <param name="movie" value="http://www.youtube.com/embed/e-PRse6jsiE?version=3&autoplay=1"></param>
          <param name="allowScriptAccess" value="always"></param>
          <param name="allowFullScreen" value="true"></param>
          <param name="autoplay" value="true"></param>
          <embed src="http://www.youtube.com/apiplayer?video_id=e-PRse6jsiE&version=3&autoplay=1"
                 type="application/x-shockwave-flash"
                 allowscriptaccess="always"
                 autoplay="1"
                 width="1000" height="563"></embed>
        </object>
    </div>
</div>